body {
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
}

div{
    background: #ebebeb;
    margin: 10px;
    text-align: center;
    padding: 30px;

}

.left {
    width: 495px;
    margin: 10px;
    float: left;
   border: 5px solid #000;
}

